.employee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  justify-content: space-between;
}

.profile-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, 0.13),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.11);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 300px;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  .profile-card {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .profile-card {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .profile-card {
    width: 98%;
  }
}

.export-files {
  margin: 20px;
  text-align: right;
  font-weight: 500;
  font-size: 12px;
}

.export-files a {
  text-decoration: none;
  color: #030303;
}

.blur-background {
  filter: blur(3px);
  pointer-events: none;
}
