<div class="body-container">
    <h2 class="component-title">Employee List</h2>

    <ul class="employee-list" [ngClass]="{'blur-background': showDeleteConfirmModal}">
        @for (employee of employees; track $index) {
        <li class="profile-card">
            <app-employee-card [employee]="employee" />
        </li>
        }
    </ul>

    @if(showDeleteConfirmModal) {
    <app-delete-employee />
    }

    <div class="export-files">
        <span>
            Export in:
            <a href="#">Excel</a>, <a href="#">PDF</a>, <a href="#">Word</a>
        </span>
    </div>
</div>