<div class="body-container box-extender">

    <div class="inner-wrapper">
        <div class="inner-header">

            <img src="https://cdn.peevski.net/images/roster/logout-icon.png" alt="Logout on Roster" width="48px"
                height="48px">
            <h2 class="form-title">Logout</h2>

        </div>

        <div class="logout-container">
            <p class="form-text">
                You are about to end your current session and log out. Are you certain you want to proceed with this
                action?
            </p>
            <div class="buttons">
                <button class="button-clean" (click)="cancelLogout()">Cancel</button>
                <button class="button-main" (click)="logout()">Yes, Proceed</button>
            </div>
        </div>
    </div>
</div>