<div class="body-container box-extender">
    <div class="inner-wrapper">

        @if (!isEditMode) {
        <div class="edit-button">
            <img src="https://cdn.peevski.net/images/roster/edit-profile.png" width="26" height="26"
                alt="Edit Roster Profile" (click)="changeEditMode()">
        </div>
        }

        <div class="card-container">
            <div class="profile-card-left">
                <img [src]="userProfile?.profilePictureUrl" class="avatar" alt="Manager Avatar" />
            </div>

            <div class="profile-card-right">
                @if(!isEditMode) {
                <div id="employee-experience-level" class="exp-level-label">
                    @if(role === 'Manager') {
                    <span class="exp-level-text">👨🏻‍💼 MANAGER</span>
                    } @else if(true) {
                    <span class="exp-level-text">🛡️ ADMIN</span>
                    }
                </div>
                }

                <div *ngIf="!isEditMode" id="employee-names" class="card-box-title">
                    {{ userProfile!.firstName | truncate:20 }} {{ userProfile!.lastName | truncate:20 }}

                    <div id="employee-start-date" class="card-box-text">
                        <span class="card-entity">Register Date: </span>
                        {{ userProfile?.registrationDate | date:'dd MMM yyyy' }}
                    </div>
                    <div id="employee-team" class="card-box-text">
                        <span class="card-entity">E-mail:</span> {{ userProfile?.email }}
                    </div>
                    <div id="current-salary" class="card-box-text">
                        <span class="card-entity">Phone Number:</span> {{ userProfile?.phoneNumber }}
                    </div>
                </div>

                <form *ngIf="isEditMode" class="edit-profile-form" #form="ngForm" (ngSubmit)="editProfile(form)">

                    <div class="custom-form-floating">
                        <label for="firstName">First Name:</label>
                        <input class="custom-profile-input" id="firstName" name="firstName"
                            [(ngModel)]="userProfile!.firstName" required minlength="1" />
                    </div>

                    <div class="custom-form-floating">
                        <label for="lastName">Last Name:</label>
                        <input class="custom-profile-input" id="lastName" name="lastName"
                            [(ngModel)]="userProfile!.lastName" required minlength="1" />
                    </div>

                    <div class="custom-form-floating">
                        <label for="registerDate">Register Date:</label>
                        <input class="custom-profile-input" id="registerDate" type="date" name="registerDate"
                            [(ngModel)]="formDate" required />
                    </div>

                    <div class="custom-form-floating">
                        <label for="email">E-mail:</label>
                        <input class="custom-profile-input" id="email" name="email" [(ngModel)]="userProfile!.email"
                            required />
                    </div>

                    <div class="custom-form-floating">
                        <label for="phoneNumber">Phone Number:</label>
                        <input class="custom-profile-input" id="phoneNumber" name="phoneNumber"
                            [(ngModel)]="userProfile!.phoneNumber" required />
                    </div>

                    <div class="form-buttons">
                        <button class="button-clean" (click)="cancelEdit()">Cancel</button>
                        <button class="button-main" [disabled]="form.invalid"
                            [ngClass]="{ 'disabled': form.invalid }">Save</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>