.box-extender {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-wrapper {
  width: 1100px;
  min-height: 600px;
  border: solid 1px #e1e1e1;
  border-radius: 12px;
}

.card-container {
  padding: 10px 70px 70px 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 700px;
  min-height: 400px;
  border: solid 1px #e1e1e1;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, 0.13),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.11);
  margin: 0 auto;
  box-sizing: border-box;
}

.component-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.card-box-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

#employee-start-date {
  margin-top: 30px;
}

.exp-level-label {
  display: flex;
  align-items: flex-end;
  font-size: 11px;
  font-weight: bold;
  color: #6b5f00;
}

.profile-card-left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.profile-card-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.card-box-text {
  margin: 2px 0;
  font-size: 16px;
}

span.card-entity {
  color: rgb(27, 27, 27);
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .profile-card {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .profile-card {
    width: 48%;
  }
}

@media screen and (max-width: 600px) {
  .profile-card {
    width: 98%;
  }
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 20px;
}

.add-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.button-main {
  width: 40%;
  margin: 15px;
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  background-color: #108a00;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-main:hover {
  background-color: #00aa27;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-clean {
  width: 40%;
  margin: 15px;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: #fff;
  color: #108a00;
  border: 2px solid #108a00;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button-clean:hover {
  background-color: #f7f7f7;
}
