.body-container {
    margin: 0 auto;
    max-width: 1440px;
    border: solid 1px #e1e1e1;
    border-radius: 12px;
    min-height: 70vh;
  }
  
  .component-title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
  }
  