<div class="profile-card-box-header">
    <img [src]="employee.profileAvatarUrlPath" class="avatar" alt="Employee Avatar" />
    <div class="header-details">

        <div id="employee-experience-level" class="exp-level-label">
            @if(employee.experienceLevel === 'Intern') {
            <span class="exp-level-text">🎓 INTERN</span>
            } @else if(employee.experienceLevel === 'Junior') {
            <span class="exp-level-text">⭐ JUNIOR</span>
            } @else if(employee.experienceLevel === 'Mid') {
            <span class="exp-level-text">⭐⭐ MID</span>
            } @else if(employee.experienceLevel === 'Senior') {
            <span class="exp-level-text">⭐⭐⭐ SENIOR</span>
            } @else if(employee.experienceLevel === 'Architect') {
            <span class="exp-level-text">⭐⭐⭐⭐ARCHITECT</span>
            }

            @if (employee.verifiedExperienceLevel) {
            <img src="https://cdn.peevski.net/images/roster/verified-badge-vector.svg" class="verified-badge"
                alt="Verified Experience Level" />
            }

        </div>

        <div id="employee-names" class="card-box-title">
            {{ employee.firstName }} {{ employee.lastName }}
        </div>

    </div>
</div>

<div class="profile-card-box-body">
    <div class="profile-card-left">
        <div id="employee-start-date" class="card-box-text">
            <strong>Start Date:</strong> {{ employee.startDate }}
        </div>
        <div id="employee-team" class="card-box-text">
            <strong>Team:</strong> {{ employee.team }}
        </div>
        <div id="current-salary" class="card-box-text">
            <strong>Current Salary:</strong> {{ employee.salary }} US$
        </div>
        <div id="last-salary-increase" class="card-box-text">
            <strong>Last Raise:</strong> {{ employee.salaryLastRaise }}
        </div>
        <div id="employee-insurance" class="card-box-text">
            <strong>Medical Insurance:</strong> {{ employee.medicalInsurance ? 'Yes' : 'No' }}
        </div>
        <div id="employee-paid-leave" class="card-box-text">
            <strong>Paid Leave:</strong> {{ employee.paidLeave }}
        </div>
    </div>

    <div class="profile-card-right">
        <img src="https://cdn.peevski.net/images/roster/edit-employee.png" alt="Edit Employee" class="card-icon"
            (click)="prepareForEditEmployee()" />

        <img src="https://cdn.peevski.net/images/roster/delete-employee.png" alt="Delete Employee" class="card-icon"
            (click)="prepareForDeleteEmployee()" />
    </div>
</div>