.profile-card-box-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.header-details {
  display: flex;
  flex-direction: column;
}

.exp-level-label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #6b5f00;
}

.verified-badge {
  width: 23px;
  margin-left: 10px;
}

.card-box-title {
  font-size: 20px;
  font-weight: 500;
}

.profile-card-box-body {
  display: flex;
  flex-direction: row;
}

.profile-card-left {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.profile-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50px;
}

.card-box-text {
  margin: 2px 0;
  font-size: 14px;
}

.card-icon {
  width: 50%;
  transition: width 200ms;
  cursor: pointer;
}

.card-icon:hover {
  width: 55%;
}

span.card-entity {
  color: rgb(27, 27, 27);
  font-weight: bold;
}

span.lock-email {
  font-size: 12px;
}
