<header class="app-header">
  <section class="header-content">
    <div class="header-logo">
      <a routerLink="/">
        <img class="logo-container" src="https://cdn.peevski.net/images/roster/roster-logo-header.png" alt="Logo" />
      </a>
    </div>

    @if (isLoggedIn) {
    <div class="header-nav">
      <div class="header-buttons">
        @if(userRole === 'Admin') {
        <a class="btn btn-primary button-clean" routerLink="/add-manager">Add Manager</a>
        }
        <a class="btn btn-primary button-main" routerLink="/add-employee">Add Employee</a>
      </div>
      <div class="avatar-dropdown">
        <img [src]="profileAvatar" alt="Avatar" class="avatar" href="#" />
        <div id="dropdownAvatar" class="dropdown-content">
          <a routerLink="/profile">Profile</a>
          <a routerLink="/settings">Settings</a>

          <label for="theme">Medical Insurance:</label>
          <select (change)="onThemeChange($event)" class="custom-input" name="theme" required aria-label="Select Theme">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
          </select>

          <a routerLink="/logout">Logout</a>
        </div>
      </div>
    </div>
    }

  </section>
</header>