<header class="app-header">
  <div class="header-content">
    <a href="/">
      <img class="logo" src="https://cdn.peevski.net/images/roster/roster-logo-header.png" alt=""/>
    </a>

    <div class="navbar-menu">
      <a class="navbar-menu-item" href="#">Home</a>
      <a class="navbar-menu-item" href="#">About</a>
      <a class="navbar-menu-item" href="#">Review</a>
      <a class="navbar-menu-item" href="#">Request</a>
    </div>

    <div class="navbar-buttons">
      <a class="btn btn-primary button-clean" href="#">Add Manager</a>
      <a class="btn btn-primary button-main" href="#">Add Employee</a>

      <div class="user-profile">
        <div class="avatar-dropdown">
          <img
            src="https://cdn.peevski.net/images/roster/avatar-default.jpg"
            alt="Avatar"
            class="avatar"
            href="#"
          />
          <div id="dropdownAvatar" class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
