<header class="app-header">
  <section class="header-content">
    <div class="header-logo">
      <a routerLink="/">
        <img class="logo-container" src="https://cdn.peevski.net/images/roster/roster-logo-header.png" alt="Logo" />
      </a>
    </div>

    @if (isLoggedIn) {
    <div class="header-nav">
      <div class="header-buttons">
        @if(userRole === 'Admin') {
        <a class="btn btn-primary button-clean" routerLink="/add-manager">Add Manager</a>
        }
        <a class="btn btn-primary button-main" routerLink="/add-employee">Add Employee</a>
      </div>
      <div class="avatar-dropdown">
        <img src="https://cdn.peevski.net/images/roster/avatar-default.jpg" alt="Avatar" class="avatar" href="#" />
        <div id="dropdownAvatar" class="dropdown-content">
          <a routerLink="/profile">Profile</a>
          <a href="/404">Settings</a>
          <a routerLink="/logout">Logout</a>
        </div>
      </div>
    </div>
    }

  </section>
</header>