.delete-employee-modal {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  width: 470px;
  box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, 0.13),
    0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.11);
  z-index: 1000;
  border-radius: 12px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-main,
.button-outline,
.button-clean {
  background-color: #108a00;
  color: #ffffff;
  border: solid 2px #108a00;
  font-weight: 500;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  margin: 5px;
  padding: 6px 20px;
  width: 150px;
  text-decoration: none;
}

.button-clean,
.button-outline {
  background-color: #ffffff;
  color: #108a00;
}

.button-clean {
  border: solid 0px #108a00;
}

.button-main:hover {
  background-color: #00aa27;
  border: solid 2px #00aa27;
}

.button-clean:hover {
  background-color: #f7f7f7;
  color: #00aa27;
}

.modal-title {
  margin-bottom: 20px;
}
